<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
    <title>Social Network</title>

    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div id="header">
        <div class="header-container">
            <h1 class="website-title"><a href="#/">bi<span class="non-bold">kle</span>ts</a></h1>
            <ul id="menu">
                <li><a href="#/bikes" class="menu-item menu-item-bikes"><span class="menu-item-text">Bikes</span></a></li>
                <li><a href="#/users" class="menu-item menu-item-users"><span class="menu-item-text">Users</span></a></li>
            </ul>
            <div id="user-link">
                <a href="#/henriquegogo">
                    <img src="http://2.gravatar.com/avatar/943753a9af1bd4a2f6466875ac5efccd?size=26" class="user-link-avatar">
                    <span class="user-link-name">henriquegogo</span>
                </a>
            </div>
        </div>
    </div>
    <div id="content">
        
    </div>
    <div id="footer">
        Copyright <a href="#/help">help</a>
    </div>
</body>

<script type="text/html" id="template_index">
    <h2>Inicial page</h2>
</script>

<script type="text/html" id="template_help">
    <h2>Can I help you?</h2>
</script>
    
<script type="text/html" id="template_bikes">
    <div class="search">
        <input type="text" class="search-input">
    </div>
    <h2>All bikes</h2>
    <ul class="bikes-list">
        <% for (i in bikes) { %>
        <li>
            <a href="#/bikes/<%= bikes[i].id %>" class="bikes-list-item">
                <img src="<%= bikes[i].thumbPath %>" class="bikes-list-item-thumb">
                <span class="bikes-list-item-info"><%= bikes[i].info %></span>
            </a>
        </li>
        <% } %>
    </ul>
</script>

<script type="text/html" id="template_bike">
    <h2>Princesa</h2>
    <h3>Monark City 2013</h3>
    <img src="<%= imagePath %>" class="bikes-list-item-image">
</script>

<script type="text/html" id="template_users">
    <h2>Users list</h2>
</script>

<script src="../../libs/jquery-1.8.3.min.js" type="text/javascript"></script>
<script src="../../lajota.js" type="text/javascript"></script>
<script src="app.js" type="text/javascript"></script>
</html>
